body {
    margin: 0;
    padding: 8px;
    background-color: black;
}

#app {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ff3c00;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.window-controls {
    margin-bottom: 0.5em;
}

canvas {
    background-image: url('/img/backrounds/backround.gif');
    background-repeat: no-repeat;
    background-size: cover;
}